# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environments
.env
.venv
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache/
pytest_cache/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MkDocs generated site
site/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Local development files
*.log
